.cest-logo {
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.cest-logo-highlight {
    color: #608b4e;
}

.cest-logo-main {
    color: #1e1e1e;
}
